name: Docs

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  pages: write

jobs:
  deploy-docs:
    name: Build & Deploy MkDocs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Hatch
        run: pip install hatch

      - name: Build and deploy docs
        run: hatch run docs:deploy
